MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
DISCORD_BOT_TOKEN="REPLACE_ME_FROM_https://discord.com/developers/applications"
TIGER_SMS_API_KEY="REPLACE_ME_FROM_https://tiger-sms.com_profile"
DISCORD_COMMAND_PREFIX="!"
DEFAULT_COUNTRY="33"
POLL_INTERVAL_SECONDS="15"
POLL_TIMEOUT_SECONDS="1200"
